@import 'reset';
@import 'bourbon';

#radial-1 {
	background: radial-gradient(circle at top right, red, orange, yellow);
	width: 100%;
	height: 100vh;
	display: block;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}

#radial-2 {
	background: radial-gradient(circle at top right, red, purple);
	transition: opacity 500ms;
	width: 100%;
	height: 100vh;
	display: block;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}
